/* estilosVentas.css */

body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
    color: #fff; /* Color del texto */
}

#content {
    width: 50%;
    margin: 50px auto;
    background-color: #222; /* Fondo más oscuro */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Alinea el contenido al centro */
}

h2 {
    color: #39ff14; /* Color neón */
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #39ff14; /* Color neón */
}

select,
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #39ff14; /* Borde neón */
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #39ff14; /* Fondo neón */
    color: #1a1a1a; /* Texto oscuro */
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2ecc71; /* Fondo neón al pasar el ratón */
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    color: #2980b9;
}
